<html>
	<body>
		<p>This is the person ZOMG</p>
		<form action="/update" method="post">
			Name: <%= animal.name%><br>
			<input name="username" value="<%= animal.name%>" hidden>
			Age: <input name="age" value="<%= animal.age%>">
			<input type="submit" value="Update">
		</form>
	</body>
</html>